<p>Player One "X" : <%=@player_one.name%></p>
<% if @game.player_2.nil? %>
<p>Let's wait for a challenger...</p>
<%else%>
<p>Player Two "O": <%=@player_two.name%></p>
<%end%>

    <div>
      <h1>Tic Tac Toe</h1>
      <div id="message"></div>
      <h1></h1>
      <form action="/play_game" method="POST">
        <table id="tictac">
          <tbody>
            <tr>
              <% @board.each_with_index do |square, index|%>
                <td id=<%="cell#{index}"%>>
                  <form action="/play_game" method="POST">
                    <input type="submit" name="square" value=<%="#{square}"%>>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <form action="/reset_board" method="GET">
      <input type="submit" name="reset" value="reset">
    </form>

